
<nav >
    <ul>
        <ul>
            <li><a href="/cats">All Cats</a></li>
            <li>
                <a href="/cats/species/Domestic Shorthair">Domestic Shorthair</a>
            </li>
            <li><a href="/cats/species/Maine Coon">Maine Coon </a> </li>
            <li><a href="/cats/species/Siamese">Siamese </a> </li>
        </ul>
    </ul>
</nav>
